apiVersion: v1
kind: Service
metadata:
  name: ml-pipeline-service
  namespace: ml-pipeline
spec:
  type: NodePort
  selector:
    app: ml-pipeline
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30080